<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="popular_secrets">
        <a href="/secrets">Back</a>
        <h2>Recent Secrets...</h2>
        {% for secret in secrets %}
        <hr>
          <p>{{secret.content}}  (Posted on {{secret.created_at}} )  {{secret.like.count}} likes
          {% if secret.id in user_like%}
            You Liked this!
            {% else %}
            <a href="/like/{{secret.id}}">Like</a>
            {% endif %}
            <br>
          {% if secret.user.id == request.session.id %}
          You Posted this <a href="/delete/{{secret.id}}">Delete</a></p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
