<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="top">
        <a href="/logout">Logout</a>
        <h1>Hello, {{current_user.first_name}}</h1>
        <form class="" action="/add_secret" method="post">
          {% csrf_token %}
          <textarea name="secret_content" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Post Secret">
        </form>
        <a href="/most_popular">Most Popular Secrets</a>
      </div>
      <div class="recent_secrets">
        <h2>Recent Secrets...</h2>
        {% for secret in secrets %}
        <hr>
          <p>{{secret.content}}  ({{secret.created_at|timesince}} ago)  {{secret.like.count}} likes
          {% if secret.id in user_like%}
            You Liked this!
            {% else %}
            <a href="/like/{{secret.id}}">Like</a>
            {% endif %}
            <br>
          {% if secret.user.id == request.session.id %}
          You Posted this <a href="/delete/{{secret.id}}">Delete</a></p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
